<div class="subscriptions">
  <h4>Subscriptions</h4>
  <div class="sub-hr"></div>
  <% @categories.each do |category| %>
  <a href="<%= category.url %>"><%= category.url %></a><br><br>
  <% end %>
</div>
