<div class="flash">
  <% flash.each do |key, val| %>
  <p><%= val %></p>
  <% end %>
</div>
<div class="category">
  <h4>New Category</h4>
  <form action="/create" method="post">
    <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
    <input type="textfield" name="category[name]" placeholder="name"><br><br>
    <input type="submit" value="create">
  </form>
</div>
