<div class="post">
  <div class="post-row <% if i.odd? %>post-odd<% else %>post-even<% end %>">
    <div class="post-cell">
    <div class="score">
      42
    </div>
    </div>
    <div class="post-cell">
      <div class="replies">
      42
      </div>
    </div>
      <div class="post-cell post-title">
        <a class="post-url" href="<%= post.url %>"><%= post.title %></a>
      </div>
      <div class="post-cell cell-category">
        <a class="post-category-url" href="<%= post.category.url %>"><%= post.category.url %></a>
      </div>
      <div class="post-cell">
        <div class="grayed">by&nbsp;&nbsp;&nbsp;&nbsp;</div><a class="post-user" href="<%= user.url %>"><%= user.username %></a>
      </div>
  </div>
</div>
