<div class="titlebar">
  <a class="home" href="/">
    <svg version="1.1" id="Home" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
    <path d="M18.672,11H17v6c0,0.445-0.194,1-1,1h-4v-6H8v6H4c-0.806,0-1-0.555-1-1v-6H1.328c-0.598,0-0.47-0.324-0.06-0.748L9.292,2.22
      C9.487,2.018,9.743,1.918,10,1.908c0.257,0.01,0.513,0.109,0.708,0.312l8.023,8.031C19.142,10.676,19.27,11,18.672,11z"/>
    </svg>
  </a>
  <div class="category-url">
    <a href="<%= @category_url %>">
      <%= @display_url %>
    </a>
  </div>
  <% if @home %>
  <div class="inline">
    <a class="link" href="/create">create category</a>
  </div>
  <% end %>
  <% if @show_actions %>
  <div class="inline">
    <a class="link" href="<%=@category_url%>/post/create">submit</a>
    <% if @subscribed %>
    <form class="inline" action="<%= @category.url %>/unsubscribe" method="post">
      <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
      <input class="submit-link" type="submit" value="unsubscribe">
    </form>
    <% else %>
    <form class="inline" action="<%= @category.url %>/subscribe" method="post">
      <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
      <input class="submit-link" type="submit" value="subscribe">
    </form>
    <% end %>
  </div>
  <% end %>
  <div class="user">
    <div class="inline">|</div>
    <% if @logged_in %>
      <a class="center-text" href=<%= @user.url %>><%= @user.username %></a>
      <form class="inline" action="/logout" method="post">
        <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
        <input class="submit-link" type="submit" value="logout">
      </form>
    <% else %>
      <div class="dropdown user-login <% if flash[:invalid_login] %> open <% end %>">
        <a href="/login">login</a>
      </div>
      <div class="dropdown user-login <% if flash[:invalid] %> open <% end %>">
        <a href="/login">register</a>
      </div>
    <% end %>
  </div>
  <div class="search">
    <input type="text" placeholder="Search">
    <a href="#/search">
      <svg version="1.1" id="Magnifying_glass" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
         y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
        <path d="M17.545,15.467l-3.779-3.779c0.57-0.935,0.898-2.035,0.898-3.21c0-3.417-2.961-6.377-6.378-6.377
          C4.869,2.1,2.1,4.87,2.1,8.287c0,3.416,2.961,6.377,6.377,6.377c1.137,0,2.2-0.309,3.115-0.844l3.799,3.801
          c0.372,0.371,0.975,0.371,1.346,0l0.943-0.943C18.051,16.307,17.916,15.838,17.545,15.467z M4.004,8.287
          c0-2.366,1.917-4.283,4.282-4.283c2.366,0,4.474,2.107,4.474,4.474c0,2.365-1.918,4.283-4.283,4.283
          C6.111,12.76,4.004,10.652,4.004,8.287z"/>
      </svg>
    </a>
  </div>
</div>
