<div class="center">
  <% if !@logged_in %>
  <div class="error">You need to be logged in to create a post!</div>
  <% end %>
  <%= form_for :post, as: :post do |f| %>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.text_area :content, placeholder: "Content" %>
    <%= f.submit value: "Create" %>
  <% end %>
</div>
