<div>
  <% flash.each do |key, value| %>
    <p><%= value %></p>
  <% end %>
  <p>Username: <%= @public[:username] %></p>
  <% if @public[:same_user] %>
    <a href="/u/<%= @public[:username] %>/subscriptions">Subscriptions</a><br><br>
    <form action="<%= @public[:url] %>/edit" method="post">
      <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
      <input type="hidden" name="user[username]" value="<%= @public[:username] %>">
      <input type="password" name="user[new_password]" placeholder="New Password">
      <br><br>
      <input type="password" name="user[new_password_confirmation]" placeholder="Confirm New Password">
      <br><br>
      <input type="password" name="user[password]" placeholder="Old Password">
      <br><br>
      <input type="submit" value="Update Password">
    </form>
  <% end %>
</div>
