<div class="flash">
  <% flash.each do |key, val| %>
  <p><%= val %></p>
  <% end %>
</div>
<div class="login">
  <h4>Login</h4>
  <form action="/login/" method="post">
    <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
    <input id="username" name="login[username]" type="text" placeholder="username"><br><br>
    <input id="password" name="login[password]" type="password" placeholder="password"><br><br>
    <input type="submit" value="login">
  </form>
</div>
<div class="register">
  <h4>Register</h4>
  <form action="/register/" method="post">
    <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
    <input id="username" name="user[username]" type="text" placeholder="username" value="<%= flash[:username] %>"><br><br>
    <input id="password" name="user[password]" type="password" placeholder="password"><br><br>
    <input id="password_confirmation" name="user[password_confirmation]" type="password" placeholder="password confirmation"><br><br>
    <input type="submit" value="register">
  </form>
</div>
