// Place all the styles related to the Category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$post-background-even: #e1e1e1;
$post-background-odd: #fdfdfd;
$post-url-color: #000;
$gray: #aaa;

.category {
  margin: 10px;
}

.post {
  display: table;
  height: 20px;
  margin: 5px;
  width: 80%;
  transform: translatex(10%);
}

.post-row {
  position: relative;
  display: table-row;
}

.post-even {
  background: $post-background-even;
}

.post-odd {
  background: $post-background-odd;
}

.grayed {
  display: inline;
  color: $gray;
}

.post-cell {
  position: relative;
  display: table-cell;
  height: 20px;
  margin: 0;
  padding: 0;
}

.score {
  margin-left: 10px;
  vertical-align: middle;
  font-weight: bold;
}

.replies {
  margin-left: 0;
  font-weight: bold;
}

.post-title {
  width: 50%;
  font-size: 1.25em;
}

.post-url {
  color: $post-url-color;
  font-weight: bold;
  text-align: center;
}

.post-user {
  color: $post-url-color;
}

.post-category-url {
  color: $post-url-color;
  font-weight: none;
  text-align: center;
}

.cell-category {
  width: 200px;
}
