// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  margin-left: 10px;
}

.register {
  margin-left: 10px;
  margin-top: 50px;
}
