$titlebar-color: #5F8EBF;
$white: #FFFFFF;
$black: #000000;
$red: #FF0000;
$font-size: 1.25em;
$flash-color: $red;
$flash-size: 1em;

body {
  font-family: 'Open Sans';
  font-size: $font-size;
  margin: 0;
  padding: 0;
}

.flash {
  margin: 10px;
  p {
    color: $flash-color;
    font-weight: bold;
    font-size: $flash-size;
  }
}

.titlebar {
  a {
    color: $white;
    text-decoration: none;
  }

  a:hover {
    color: $white;
    text-decoration: underline;
  }

  a:focus {
    color: $white;
    text-decoration: underline;
  }
}

// Bootstrap Theme

.dropdown-menu {
  background-color: $titlebar-color;
  border-radius: 0;
  color: $white;
  padding: 0;

  li > a {
    color: $white;
  }
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: $white;
  background-image: none;
  color: $black;
}

// Bootstrap Theme End

.inline {
  display: inline-block;
}

.link {
  color: $white;
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
}

.link:hover {
  color: $white;
  text-decoration: underline;
}

.center-text {
  text-align: center;
}

.submit-link {
  background: none;
  border: 0;
  color: $white !important;
  display: inline-block;
}

.submit-link:hover {
  text-decoration: underline;
}

.titlebar {
  background-color: $titlebar-color;
  height: 40px;
  width: 100%;
}

.home {
  display: inline;
  float: left;

  svg {
    height: 25px;
    margin-left: 10px;
    margin-top: 7.25px;
    width: 25px;
  }

  svg:hover {
    fill: $white;
  }
}

.category-url {
  color: $white;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-left: 30px;
  text-align: center;

  a svg {
    display: inline;
    fill: $white;
    height: 20px;
    vertical-align: middle;
    width: 20px;
  }
}

.info {
  text-align: center;
}

.user {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 40px;

  a {
    margin-left: 10px;
    margin-right: 5px;
  }
}

.search {
  display: inline-block;
  float: right;
  height: 40px;
  line-height: 20px;
  margin-top: 7.25px;
  vertical-align: middle;

  svg {
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    width: 30px;
  }

  svg:hover {
    fill: $white;
  }
}

.error {
  color: $red;
}

.user-login {
  display: inline;

  a > svg {
    fill: $white;
    height: 20px;
    vertical-align: middle;
    width: 20px;
  }
}

.user-dropdown {
  padding: 3px;

  li > form > input {
    color: $black;
    margin: 3px;
  }
}
