<!DOCTYPE html>
<html>
<head>
  <title>
    <% if @show_category %>
      <%= @category.url %>
    <% else %>
      Messaging
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render template: 'titlebar/index' %>
<%= yield %>

</body>
</html>
